

<h1 align=center><font size = 5>Analyzing Crime Data in Chicago Using SQL</font></h1>

# Introduction

In this project we :

1.  Understood three Chicago datasets  
2.  Loaded the three datasets into three tables in a Db2 database
3.  Executed SQL queries to answer some questions

## Understanding the datasets

In this project we used three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Downloading the datasets

This project requires three tables populated with a subset of the whole datasets,which are downloaded from the links below:

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv" target="_blank">Chicago Census Data</a>

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv" target="_blank">Chicago Public Schools</a>

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv" target="_blank">Chicago Crime Data</a>

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be stored in the database.We have used IBM cloud Db2 instance for this project.

### Connecting to the database

We will first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

The next few steps are hidden for privacy.



## What is the total number of crimes recorded in the CRIME table?

In [4]:
%sql SELECT COUNT(*) AS TOTAL_CRIMES \
      FROM CHICAGO_CRIME_DATA

 * ibm_db_sa://jwh67260:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[(533,)]

 

## List community areas with per capita income less than 11000.

In [11]:
%sql SELECT COMMUNITY_AREA_NAME from CENSUS_DATA WHERE PER_CAPITA_INCOME < 11000

 * ibm_db_sa://jwh67260:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]



## List all case numbers for crimes  involving minors.(children are not considered minors for the purposes of crime analysis)

In [12]:
%sql SELECT CASE_NUMBER from CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE '%MINOR%'

 * ibm_db_sa://jwh67260:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[('HL266884',), ('HK238408',)]



## List all kidnapping crimes involving a child.

In [13]:
%sql SELECT DISTINCT CASE_NUMBER, PRIMARY_TYPE, DATE, DESCRIPTION FROM CHICAGO_CRIME_DATA \
WHERE PRIMARY_TYPE='KIDNAPPING'

 * ibm_db_sa://jwh67260:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[('HN144152', 'KIDNAPPING', datetime.date(2007, 1, 26), 'CHILD ABDUCTION/STRANGER')]



## What kinds of crimes were recorded at schools?

In [14]:
%sql SELECT DISTINCT(PRIMARY_TYPE), LOCATION_DESCRIPTION FROM CHICAGO_CRIME_DATA \
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%'

 * ibm_db_sa://jwh67260:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[('PUBLIC PEACE VI', 'SCHOOL, PRIVATE, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('PUBLIC PEACE VI', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPA', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS')]



## List the average safety score for each type of school.

In [26]:
%sql SELECT ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL, AVG(SAFETY_SCORE) AVERAGE_SAFETY_SCORE FROM CHICAGO_PUBLIC_SCHOOLS GROUP BY ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL;

 * ibm_db_sa://jwh67260:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]



## List 5 community areas with highest % of households below poverty line

In [21]:
%sql SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY

 * ibm_db_sa://jwh67260:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[('Edison Park', Decimal('3.3')),
 ('Mount Greenwood', Decimal('3.4')),
 ('Beverly', Decimal('5.1')),
 ('Norwood Park', Decimal('5.4')),
 ('North Center', Decimal('7.5')),
 ('Forest Glen', Decimal('7.5')),
 ('Jefferson Park', Decimal('8.6')),
 ('Garfield Ridge', Decimal('8.8')),
 ('Clearing', Decimal('8.9')),
 ('Ashburn', Decimal('10.4')),
 ('Dunning', Decimal('10.6')),
 ('Lincoln Square', Decimal('10.9')),
 ('Lake View', Decimal('11.4')),
 ('Calumet Heights', Decimal('11.5')),
 ('Portage Park', Decimal('11.6')),
 ('Lincoln Park', Decimal('12.3')),
 ('Near North Side', Decimal('12.9')),
 ('Irving Park', Decimal('13.1')),
 ('North Park', Decimal('13.2')),
 ('Morgan Park', Decimal('13.2')),
 ('Near South Side', Decimal('13.8')),
 ('Archer Heights', Decimal('14.1')),
 ('West Town', Decimal('14.7')),
 ('Loop', Decimal('14.7')),
 ('West Lawn', Decimal('14.9')),
 ('Montclaire', Decimal('15.3')),
 ('Avondale', Decimal('15.3')),
 ("O'Hare", Decimal('15.4')),
 ('West Elsdon', Decimal('15.6')),
 ('Logan Square', Decimal('16.8')),
 ('Washington Height', Decimal('16.9')),
 ('Hegewisch', Decimal('17.1')),
 ('West Ridge', Decimal('17.2')),
 ('Avalon Park', Decimal('17.2')),
 ('Edgewater', Decimal('18.2')),
 ('Hyde Park', Decimal('18.4')),
 ('Belmont Cragin', Decimal('18.7')),
 ('McKinley Park', Decimal('18.7')),
 ('Bridgeport', Decimal('18.9')),
 ('Albany Park', Decimal('19.2')),
 ('East Side', Decimal('19.2')),
 ('CHICAGO', Decimal('19.7')),
 ('Roseland', Decimal('19.8')),
 ('Hermosa', Decimal('20.5')),
 ('Near West Side', Decimal('20.6')),
 ('Pullman', Decimal('21.6')),
 ('Kenwood', Decimal('21.7')),
 ('Gage Park', Decimal('23.4')),
 ('Rogers Park', Decimal('23.6')),
 ('Brighton Park', Decimal('23.6')),
 ('Uptown', Decimal('24.0')),
 ('Lower West Side', Decimal('25.8')),
 ('West Pullman', Decimal('25.9')),
 ('Auburn Gresham', Decimal('27.6')),
 ('Chatham', Decimal('27.8')),
 ('Chicago Lawn', Decimal('27.9')),
 ('Austin', Decimal('28.6')),
 ('New City', Decimal('29.0')),
 ('South Deering', Decimal('29.2')),
 ('Grand Boulevard', Decimal('29.3')),
 ('Douglas', Decimal('29.6')),
 ('Greater Grand Crossing', Decimal('29.6')),
 ('South Chicago', Decimal('29.8')),
 ('South Lawndale', Decimal('30.7')),
 ('Woodlawn', Decimal('30.7')),
 ('South Shore', Decimal('31.1')),
 ('Burnside', Decimal('33.0')),
 ('Humboldt park', Decimal('33.9')),
 ('West Englewood', Decimal('34.4')),
 ('Oakland', Decimal('39.7')),
 ('Armour Square', Decimal('40.1')),
 ('West Garfield Park', Decimal('41.7')),
 ('Washington Park', Decimal('42.1')),
 ('East Garfield Park', Decimal('42.4')),
 ('North Lawndale', Decimal('43.1')),
 ('Englewood', Decimal('46.6')),
 ('Fuller Park', Decimal('51.2')),
 ('Riverdale', Decimal('56.5'))]



## Which community area is most crime prone?

In [22]:
%%sql
SELECT COMMUNITY_AREA_NUMBER ,COUNT(COMMUNITY_AREA_NUMBER) AS FREQUENCY
FROM CHICAGO_CRIME_DATA 
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC
LIMIT 1;

 * ibm_db_sa://jwh67260:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[(25, 43)]



## Find the name of the community area with highest hardship index

In [23]:
%sql SELECT COMMUNITY_AREA_NAME FROM  CENSUS_DATA WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * ibm_db_sa://jwh67260:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[('Riverdale',)]



## Determine the Community Area Name with most number of crimes?

In [24]:
%%sql
SELECT community_area_name FROM CENSUS_DATA 
WHERE COMMUNITY_AREA_NUMBER = (SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA 
    GROUP BY COMMUNITY_AREA_NUMBER
    ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC
    LIMIT 1)
LIMIT 1;

 * ibm_db_sa://jwh67260:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[('Austin',)]